<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Event Calendar</h2>
    <div>
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      [hourSegments]="2"
      [dayStartHour]="0"
      [dayEndHour]="23"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      [hourSegments]="2"
      [dayStartHour]="0"
      [dayEndHour]="23"
    >
    </mwl-calendar-day-view>
  </div>
</div>
